.portraits {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .column {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:nth-child(2) {
      transform: translateY(12%);
    }
    &:nth-child(3) {
      transform: translateY(25%);
    }
    @media screen and (min-width: 768px) {
      width: 25vw;
    }
  }
  .block {
    width: 100%;
    height: 0;
    padding-top: 60%;
    background: linear-gradient(hsl(81, 45%, 53%), hsl(80, 63%, 65%));
    &.large {
      padding-top: 100%;
    }
  }
  .green {
    background: #d9edb2;
  }
  .yellow {
    background: #fff7c5;
  }
  .orange {
    background: #ffa963;
  }
}
.portraits-enter {
  .background {
    z-index: -1;
    background: hsl(80, 63%, 65%);
  }
}
.mv-exit {
  .portraits {
    z-index: 9999;
    background: white;
    display: none;
  }
}

.sound {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .circle {
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:nth-child(1) {
      width: 125vw;
      height: 125vw;
      background: #f7bcd3;
    }
    &:nth-child(2) {
      width: 100vw;
      height: 100vw;
      background: #f8c6da;
    }
    &:nth-child(3) {
      width: 75vw;
      height: 75vw;
      background: #f9d1e2;
    }
    &:nth-child(4) {
      width: 50vw;
      height: 50vw;
      background: #fadbe9;
    }
    @media screen and (min-width: 992px) {
      &:nth-child(1) {
        width: 100vw;
        height: 100vw;
        background: #f7bcd3;
      }
      &:nth-child(2) {
        width: 75vw;
        height: 75vw;
        background: #f8c6da;
      }
      &:nth-child(3) {
        width: 50vw;
        height: 50vw;
        background: #f9d1e2;
      }
      &:nth-child(4) {
        width: 25vw;
        height: 25vw;
        background: #fadbe9;
      }
    }
  }
}
