.Homepage {
  // background: url(./assets/images/home-bg@2x.jpg) rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Writeup {
  // background: url(./assets/images/writeup-bg.jpg) rgba(0, 0, 0, 0.55);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.MVPage {
  background: #FBA667;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.PortraitsPage {
  background: url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.SoundGallery {
  // background: url(./assets/images/pattern-bg.png) rgba(255, 255, 255, 0.1);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.StoriesPage {
  background: #fffbe8 url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
