.Homepage {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Writeup {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.MVPage {
  background: #FBA667;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.PortraitsPage {
  background: url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.SoundGallery {
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.StoriesPage {
  background: #fffbe8 url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.my-20 {
  margin-top: 20px !important;
}
.my-30 {
  margin-top: 30px !important;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}