.Homepage {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Writeup {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  @media screen and (min-width: 992px) {
    overflow: hidden;
  }
}

.MVPage {
  background: #FBA667;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.PortraitsPage {
  background: url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.SoundGallery {
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.StoriesPage {
  background: #fffbe8 url(./assets/images/pattern-bg.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}